# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../springboot-07-shiro\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Desktop\Java\SpringBoot\1.code\springboot-07-shiro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
